<h1>Welcome to {{title}}!</h1>

<!-- container para tabela de dados -->
<div class="ui-tvc-container-tabeladados ui-tvc-clearfix">
  <!-- coluna congelada -->
  <div class="ui-tvc-tabeladados-coluna-congelada" style="width: 500px;">
    <!-- coluna congelada -->
    <!-- titulo - coluna congelada -->
    <table class="ui-tvc-tabeladados">
      <thead class="ui-tvc-tabeladados-titulo">
        <tr>
          <th style="width: 500px;">
            <span>Chassi</span>
          </th>
        </tr>
      </thead>
    </table>
    <!-- fim titulo - coluna congelada -->
    <!-- linhas - coluna congelada -->

    <div class="ui-tabeladados-scroll-corpo" style="max-height: 250px; padding-bottom: 17px;">
      <div class="ui-tabeladados-scroll-box">

    <table class="ui-tvc-tabeladados" style="top:0px">
      <colgroup>
        <col style="width: 500px;">
      </colgroup>
      <tbody class="ui-tvc-tabeladados-conteudo">
        <!-- linhas - com rolagem vertical -->
        <tr>
          <td>
            <span>9BWCA11JOY4000001</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000002</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000003</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000004</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000005</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000006</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000007</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000008</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000009</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>9BWCA11JOY4000010</span>
          </td>
        </tr>
        <!-- fim linhas - com rolagem vertical -->
      </tbody>
    </table>
    <!-- linhas - coluna congelada -->
      </div>
    </div>
    <!-- fim coluna congelada -->
  </div>
  <!-- fim coluna congelada -->
  <!-- colunas complementares -->
  <div class="ui-tvc-tabeladados-complementar" style="width: 1404px; left: 500px;">
    <div class="ui-tvc-tabeladados-scroll-titulo">
      <div class="ui-tvc-tabeladados-scroll-titulo-box" style="margin-right: 17px; margin-left: 0px;">
        <!-- resultado quando a rolagem horizontal estiver no final -->
        <!-- div class="ui-tvc-tabeladados-scroll-titulo-box" style="margin-right: 17px; margin-left: -113px;" -->
        <table class="ui-tvc-tabeladados" style="width: 1500px;">
          <thead class="ui-tvc-tabeladados-titulo">
            <tr>
              <!-- titulos complementares fixos - com rolagem horizontal -->
              <th style="width: 250px;">
                <span>Placa</span>
              </th>
              <th style="width: 250px;">
                <span>Ano</span>
              </th>
              <th style="width: 250px;">
                <span>Marca</span>
              </th>
              <th style="width: 250px;">
                <span>Modelo</span>
              </th>
              <th style="width: 250px;">
                <span>Cor</span>
              </th>
              <th style="width: 250px;">
                <span class="numero">KM</span>
              </th>
              <!-- fim titulos complementares fixos - com rolagem horizontal -->
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <div class="ui-tabeladados-scroll-corpo" style="max-height: 250px;">
      <div class="ui-tabeladados-scroll-box">
        <table class="ui-tvc-tabeladados" style="width: 1500px;">
          <!-- grupo de colunas para refletir os títulos fixos com rolagem horizontal -->
          <colgroup>
            <col style="width: 250px;">
            <col style="width: 250px;">
            <col style="width: 250px;">
            <col style="width: 250px;">
            <col style="width: 250px;">
            <col style="width: 250px;">
          </colgroup>
          <!-- fim grupo de colunas para refletir os títulos fixos com rolagem horizontal -->
          <tbody class="ui-tvc-tabeladados-conteudo">
            <!-- linhas complementares - com rolagem horizontal e vertical -->
            <tr>
              <td>
                <span>EQX2001</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2002</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2003</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2004</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2005</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2006</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2007</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2008</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>EQX2009</span>
              </td>
              <td>
                <span>2013/2013</span>
              </td>
              <td>
                <span>Ford</span>
              </td>
              <td>
                <span>Focus</span>
              </td>
              <td>
                <span>Preto</span>
              </td>
              <td>
                <span class="numero">47.560</span>
              </td>
            </tr>
            <tr>
                <td>
                  <span>EQX2010</span>
                </td>
                <td>
                  <span>2013/2013</span>
                </td>
                <td>
                  <span>Ford</span>
                </td>
                <td>
                  <span>Focus</span>
                </td>
                <td>
                  <span>Preto</span>
                </td>
                <td>
                  <span class="numero">47.560</span>
                </td>
              </tr>
            <!-- fim linhas complementares - com rolagem horizontal e vertical -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- fim colunas complementares -->
</div>
<!-- fim container para tabela de dados -->